*.o
*.lo
*.la
*.tar.gz
*.zip
*~
.deps
.libs
.dirstamp
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/configure
/libtool
/stamp-h1
/alien*.rockspec
